@font-face { 
    font-family: Montserrat;
    src: url(fonts/MontserratAlternates-Bold.ttf);
}
*{
    margin:0;
    padding:0;
    font-family: Montserrat; 
    color:#1FAB89;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    min-height:100vh;
    min-width:100%;
    position:absolute;
}
header{
    display:flex;
    width:100%;
    height:50px;
    background-color: #1FAB89;
    padding:5px 50px 5px;
    color:#D7FBE8;
    font-size:30px;
    justify-content:space-around;
    z-index:1;
    margin: 0 auto;
    flex-direction:row;
}
header img{
    /*margin-right:35px;*/
    z-index:1;
}
nav ul{
    display:flex;
    flex-direction:row;
    list-style:none;
}
nav li{
    margin:0px 50px;
    
}
nav li a{
    text-decoration:none;
    color:#D7FBE8;
    transition:500ms;
}
nav li a:hover{
    color:#004524;
    font-size:27px;
}
body{
    background-color: #EBFFFA;
}


.glavnaya{
    display:flex;
    text-align:center;
    padding: 15px 50px 15px 50px ;
    justify-content:space-around;
    font-size:23px;
    flex-wrap:wrap;
    margin: 0 auto;
    max-width:1200px;
    
}
.glavnaya p{
    color:#D7FBE8;
    
}
div.heh{
    background-color: #1FAB89;
    border-radius:50px;
    margin:10px;
    height:25%;
}
div.heh:hover{
    /*border:Inset #004524;*/
    border-radius:50px;
    outline:solid #004524 20px;
    border-width:5px;
    font-size:18px;
}
.heh img{
    padding:10px;
}
.heh a p{
    text-decoration:none;
    color:#D7FBE8;
    transition:500ms;
}
.heh a:hover p{
    color:#004524;
}
@media (min-width: 350px) and (max-width: 420px){
    body{
        max-width:100%;
    }
    div.glavnaya{
        width:100%;
        max-width: none;
        flex-direction: column;
        padding:0 auto;
        margin:0 auto;
    }
    header{
        height: 15%;
        font-size: 15px;
        width:100%;
        z-index:1;
        margin:0 auto;
    }
    header img{
        display:none;
    }
    .glavnaya img{
        width:70%;
        height:70%;

    }
    nav ul{
        display:block;
    }
    p{
        font-size:20px;
        padding-bottom:10px;
    }
    div.heh{
        width:80%;
        text-align:center;
        margin:5px auto;
    }
    

} 
@media (min-width:2800px){
    body{
        max-width:100%;
    }
    header{
        height: 20%;
        font-size: 80px;
        width:100%;
        z-index:1;
        margin:0 auto;
    }
    header img{
        display:none;
    }
    div.glavnaya{
        width:100%;
        max-width: 2500px;
        padding:0 auto;
        margin:0 auto;
    }
    .glavnaya img{
        width:500px;
        height:500px;
    }
    .glavnaya p{
        font-size:50px;
    }
    .left a img:hover{
        border-radius:200px;
    }
    nav li a:hover{
        font-size:77px;
    }
}
